
.navbar{

    position: fixed;
    top: 0;
    width: 100%;
    
}
.navbar ul{
    display: flex;
    list-style-type: none;
    background-color: #ccf5ac;
    gap: 4em;
}
.navbar a{
    color: #ef798a;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ccf5ac;
}
main{
    align-items: center;
    background-color: #f9f5e3;

    align-items: center;
    padding: 5%;
}
main img{
    display: block;
    max-width: fit-content;
}
.experience-container{
    display: grid;
    grid-template-columns: repeat();
    gap: 2%;
  }
  .exp-item{
    display: flex;
    flex-direction: row;
    gap: 5%;
    border-style: dashed;

  }
  
  .container > div {
    border: 1px solid salmon;
}
.title-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;    
}
.date-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}
#About{
    outline: auto;
}
#Experience{
    outline: auto;
}
#skills{
    outline: auto;
}
#linkedinlogo{
    display: block;
    max-width: 30%;
    height: auto;
}
#twitterlogo{
    display: block;
    max-width: 30%;
    height:auto;

}
.connect-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

@media (min-width: 1000px) {
    body {
      background-color: orange;
    }
  }
@media (max-width: 800px){
    body {
        background-color: darkmagenta;
    }
    h2{
        font-size: 8vw;
    }
}
