
.navbar{

    position: fixed;
    top: 0;
    width: 100%;
    
}
.navbar ul{
    display: flex;
    list-style-type: none;
    background-color: #ccf5ac;
    gap: 4em;
}
.navbar a{
    color: #ef798a;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ccf5ac;
}
main{
    align-items: center;
    background-color: #f9f5e3;

    align-items: center;
    padding: 5%;
}
main img{
    display: block;
    max-width: fit-content;
}
.experience-container{
    display: grid;
    grid-template-columns: repeat();
    gap: 2%;
  }
  .exp-item{
    display: flex;
    flex-direction: row;
    gap: 5%;
    border-style: dashed;

  }
  
  .container > div {
    border: 1px solid salmon;
}
.title-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;    
}
.date-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}


